.CustomerServiceBigBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.CustomerServiceHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    min-height: 250px;
  
    .TopText {
        text-align: center;
    }   
    
    .LinkBox {
        width: 100%;
        display: flex;
        justify-content: space-around;
        
        a {
            width: calc(100%/3);
            height: auto;
    
            div {
                margin: 5px;
                padding: 5px;
                border-radius: 10px;
                border: 1px solid gray;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                min-width: calc(100% / 3);
                height: 80px;
                color: #3a3a3a;
                .icons {
                    min-width: 50px;
                    min-height: 50px;
                }

                p {
                    font-size: 16px;
                    color: #676767;
                    text-align: center;
                }
            }
        }
    }

    .BtnBox {
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            background-color: black;
            color: white;
            margin: 5px;
            width: 50%;
            height: 40px;
            border-radius: 5px;
            border: none;
            font-weight: 700;
            font-size: 18px;
        }
    }
}