.InquireListBigBox {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .InquireListContentBox {
        margin: 15px;
        margin-top: 50px;
        h2 {
            text-align: center;
            margin-bottom: 10px;
        }
    
        .InquireListContentHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                margin: 10px;
                font-weight: 700;
            }
        }

        hr {
            border: 1px solid rgb(51, 51, 51);
        }

        .InquireListForm {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            .TextContentArea {
                display: flex;
                flex-direction: column;
            }
        }

        .InquireListBtnBox {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button {
                padding: 10px;
                width: 100px;
                height: 40px;
                background-color: black;
                color: white;
                font-weight: 700;
                font-size: 16px;
                border: none;
                border-radius: 10px;
            }
        }

        .NoInquire {
            margin: 10px;
            text-align: center;
        }
    }

}

@media all and (min-width:1024px) {
    .InquireListContentBox {
        margin-top: 30px;
    }
}

// TAB 버전
@media all and (min-width:768px) and (max-width:1023px) {

    
}

// MOBILE 버전
@media all and (max-width:420px) {

}
