.InquireDetailBigBox {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// InquireDetailContentBox는 사용자 질문, 관리자 답변내용에 대한 scss 입니다.
.InquireDetailContentBox {
    margin: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        margin: 10px 0px;
    }

    .TopArea {
        display: flex;
        align-items: center;
        
        button {
            margin: 10px;
            background-color: black;
            border: none;
            border-radius: 100%;
            min-width: 30px;
            min-height: 30px;
            color: white;
            font-size: 18px;
        }
    }

    .MiddleArea {
        margin: 10px;
        margin-top: 0px;
    }



    // 사용자 질문에 대한 영역입니다.
    .UserArea {
        button {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    }

    .AdminArea {
        
    }
    
}

// PC 버전
@media all and (min-width:1024px) {
    .InquireDetailBigBox {
        
        .InquireDetailParentBox {
            display: flex;
            align-items: center;
            justify-content: center;
            .InquireDetailContentBox {
                padding: 10px;
                margin-top: 0px;
                width: 50%;
                .TitleText {    
                    margin: 10px;
                    text-align: center;
                    font-size: 30px;
                }

                .UserArea {
                    margin-bottom: 10px;

               
                    .TopArea {
                        h3 {
                            font-size: 24px;
                        }
                    }

                    .MiddleArea {
                        p {
                            margin-top: 10px;
                            font-size: 16px;
                        }
                    }
                }

                .AdminArea {
           

                    .TopArea {
                        h3 {
                            font-size: 24px;
                        }
                    }

                    .MiddleArea {
                        p {
                            margin-top: 10px;
                            font-size: 16px;
                        }
                    }

                }
            }
        }
    }
}

// TAB 버전
@media all and (min-width:768px) and (max-width:1023px) {

    
}

// MOBILE 버전
@media all and (max-width:420px) {
    .InquireDetailBigBox {
        
        .InquireDetailParentBox {
            display: flex;
            align-items: center;
            justify-content: center;
            .InquireDetailContentBox {
                margin-top: -60px;
                width: 100%;

                .TitleText {    
                    font-size: 30px;
                    text-align: center;
                }
            }
        }
    }
}
