.NoticeDetailBigBox {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .NoticeDetailContentBox{
       margin: 10px;
       margin-top: 50px;
       h1 {
           margin-bottom: 5px;
           text-align: center;
       }

       .NoticeDetailContent {
           margin-top: 10px;
           margin: 5px;
           color: black;
           min-height: 400px;
           header {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-bottom: 10px;
              p:first-child {
                font-weight: 700;
                max-width: 280px;
                margin-bottom: 5px;
              }
          }

          .NoticeDetailTextContent {
              display: flex;
              justify-content: space-around;
              flex-direction: column;
              margin-top: 10px;
              margin-bottom: 10px;
          }
    
        img {
            max-width: 250px;
            max-height: 250px;
        }
          
       }
    }
}

// PC버전
@media all and (min-width:1024px) {
    
    .NoticeDetailBigBox {

        .NoticeDetailContentParentBox {
            display: flex;
            align-items: center;
            justify-content: center;
            
            .NoticeDetailContentBox {
                width: 60%;
                margin: 10px;
                margin-top: 30px;

                .TitleText {
                    font-size: 26px;
                }

                .ContentText {
                    margin-bottom: 10px;
                }

                .NoticeImage {
                    max-width: 500px;
                    max-height: 500px;
                }
            }
        }

        
    }
}

// TAB 버전
@media all and (min-width:768px) and (max-width:1023px) {

    
}

// MOBILE 버전
@media all and (max-width:420px) {
    .NoticeDetailContentBox {
        margin: 10px;
        margin-top: 10px;

        .TitleText {
            font-size: 26px;
        }

        .ContentText {
            margin-bottom: 10px;
        }
    }
}