.ReviewTopArea {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .ReviewLocation {
        padding: 50px;
        padding-bottom: 5px;
        text-align: center;
    }

    .Score {      
        .star {
            font-size: 40px;
            color: skyblue;
        }
        .star:last-child {
            font-size: 40px;
            color: gray;
        }
    }
    button {
        width: 100px;
        height: 40px;
        border-radius: 30px;
        margin: 10px;
        border: none;
        background-color: white;
        font-weight: bold;
    }

}

.ReviewMiddleArea {
    margin: 10px;

    .UmmName {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            width: 110px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            color: #676767;
            li:first-child {
                color: royalblue;
            }
        }
        .ReviewCount {
            font-size: 20px;
        }
    }

    // 사용자가 적은 리뷰 스타일
    .UserReviewForm {
        margin-top: 10px;
        width: 100%;
        box-shadow: 0px 0px 05px 1px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        overflow: hidden;
        // 유저정보 및 리뷰별점
        .userInfo {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            padding-bottom: 0px;

            .BoxOne {
                display: flex;
                align-items: center;
            }
            // 유저이미지
            img {
                border-radius: 100%;
                width: 50px;
                height: 50px;
            }
            // 이름과 리뷰별점
            .NameAndReview {
                padding: 10px;
                .ReviewPoint {
                    margin-top: 0px;
                }
            }

            .Date {
              padding: 10px;
            }
        }
        
        .ReviewContent {
            padding: 10px;
            max-height: 150px;
            overflow: hidden;
        }


        .BoxTwo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .more {
                padding: 20px;
                font-size: 16px;
                cursor: pointer;
            }

            .ReviewBtn {
                button {
                    background-color: black;
                    color: white;
                    font-weight: 700;
                    width: 70px;
                    height: 35px;
                    border-radius:30px;
                    border: none;
                    margin: 10px;
                    cursor: pointer;
                }
    
                button:last-child {
                    background-color: white;
                    color: black;
                    border: 1px solid #676767;
                    margin: 0px;
    
                }
            }

        }

       

    }
}