* {
  margin: 0;
  padding: 0;
}

@media all and (min-width:1024px) { 

  .App {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1903px;
    height: auto;
    overflow: hidden;
  }
  
}

@media all and (min-width:768px) and (max-width:1023px) {

  .App {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 940px;
    height: auto;
    overflow: hidden;
  }

 }

 /* 모바일 가로, 모바일 세로 (해상도 360px ~ 767px)*/ 
@media all and (max-width:400px) { 

  .App {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 390px;
    height: auto;
    overflow: hidden;
  }

  .imgarea {
    margin-top: 10px;
    width: 75%;
    height: 150px;
    border: 1px solid black;
    border-radius: 12.5px;
    display: flex;
    flex-direction: column;

    align-items:flex-start;
    justify-content: space-between;
  }

  .imgarea h3 {
    width: 65%;
    margin-top: 10px;
  }

  .imgarea a {
    text-decoration: none;
    font-size: 14px;
    color: #676767;
  }

}
/* 헤더 시작 */
.Header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 헤더 로고 */
.Header > h3 {
  margin-left: 20px;
}

.Header > .menuIcon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}
/* 헤더 끝 */

/* 컨텐트 영역 (사진이 배경인 부분) */
.Content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 400px;
  background-image: url('./img/exampleImg.jpg');
  background-size: cover;
  background-repeat: none;
}

/* 텍스트와 버튼을 감싸주는 div = explanation */
.Content > .explanation {
  padding: 22px;
}

/* 버튼박스 */
.Content > .explanation > .btnbox {
  margin-top: 20px;
}
/* 버튼박스안에 버튼설정 */
.Content > .explanation > .btnbox > button {
  width: 100px;
  height: 35px;
  border-radius: 36px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
  color: white;
  cursor: pointer;
  background-color: black;
}
/* 첫번째 버튼만 설정 */
.Content > .explanation > .btnbox > button:first-child {
  margin-left: 0px;
  color: black;
  background-color: white;
}


/* 추천div영역 */
.recommend {
  margin-top: 20px;
  width: calc(100% - 30px);
  height: auto;
}

/* 추천게시물  */
.recommend > .travelList {
  width: 100%;
  padding-left: 20px;
  height: auto;
}

.recommend > .travelList .imgarea {
  color: white;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('./img/exampleImg.jpg');
  background-repeat: no-repeat;
  height: 250px;
}

.recommend > .travelList .infotext {
  padding: 10px 0px 0px 20px;
}

.recommend > .travelList .infotext > a {
  color: rgb(215, 215, 215);
}


/* 주변가격정보 */

.priceInfo {
  margin-top: 20px;
  width: calc(100% - 30px);
  height: 260px;
}

.priceInfo > .priceList {
  width: 100%;
  padding-left: 20px;
}

.priceInfo .pricearea {
  margin-top: 10px;
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 230px;
  border-radius: 12.5px;
}
/* 상단 텍스트 */
.priceInfo .pricearea .toptext {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  text-align: center;
}

.priceInfo .pricearea .toptext > h4:last-child {
  width: 80px;
}

.productInfo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
}

/* 리뷰정보 */

.reviewInfo {
  margin-top: 20px;
  width: calc(100% - 30px);
  height: auto;
}

.reviewInfo > .reviewList {
  width: 100%;
  padding-left: 20px;
}

.reviewInfo .reviewarea {
  margin-top: 10px;
  position: relative;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row;
  flex-wrap:unset;
  height: auto;
}

.reviewInfo .reviewarea::-webkit-scrollbar {
  display: none;
}

.reviewInfo .reviewarea .reviewBox {
  position: relative;
  min-width: 152px;
  height: 200px;
  border-radius: 12.5px;
  border: 1px solid black;
  margin: 0px 0px 0px 10px;
}

.reviewInfo .reviewarea .reviewBox:first-child {
  margin-left: 0px;
}

.reviewInfo .reviewarea .reviewBox .reviewImg {
  width: 100%;
  height: 100px;
  background-image: url('./img/exampleImg.jpg');
  background-size: cover;
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
}

.reviewInfo .reviewarea .reviewBox .reviewText {
  width: 100%;
  height: 100px;
  padding: 5px 0px 0px 10px;
  border-bottom-left-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
}

.reviewInfo .reviewarea .reviewBox .reviewText span {
  font-size: 13px;
}

.reviewInfo .reviewarea .reviewBox .reviewText p {
  font-size: 15px;
}

.bottom {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  background-color: #676767;
}


/* 상단 텍스트 */
.textarea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .textarea > a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
}
